body {
    background-color: #202020;
}

input,
button,
a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.canvas-container {
    display: flex;
    justify-content: center;
    margin-top: 3vh;
}

.head-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.options-container {
    margin-top: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selector-wrapper {
    display: flex;
}

.option-wrapper {
    display: flex;
    justify-content: left;
    align-items: center;
}

.option-descriptor {
    color: #426DFB;
    font-family: neon;
    font-size: 4vh;
    margin-right: 1vw;
    margin-left: 1vw;
    text-shadow: 0 0 3vw #2356FF;
    animation: flux 2s linear infinite;
    -moz-animation: flux 2s linear infinite;
    -webkit-animation: flux 2s linear infinite;
    -o-animation: flux 2s linear infinite;
}

#canvas {
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

@keyframes flux {

    0%,
    100% {
        color: #28D7FE;
    }

    50% {
        color: #146C80;
    }
}

.flux {
    text-align: center;
    font-family: neon;
    color: #426DFB;
    font-size: 5vh;
    line-height: 3vw;
    text-shadow: 0 0 3vw #2356FF;
    animation: flux 2s linear infinite;
    -moz-animation: flux 2s linear infinite;
    -webkit-animation: flux 2s linear infinite;
    -o-animation: flux 2s linear infinite;
}

@font-face {
    font-family: neon;
    src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/neon.ttf);
}

.back-button {
    font-size: 10vh;
    font-family: neon;
    color: #28D7FE;
    cursor: pointer;
    text-shadow: 0 0 3vw #2356FF;
    text-decoration: none;
    animation: flux 2s linear infinite;
    -moz-animation: flux 2s linear infinite;
    -webkit-animation: flux 2s linear infinite;
    -o-animation: flux 2s linear infinite;

}

.back-button:hover {
    color: #28D7FE;
    animation: none;
}

.option-buttons {
    font-size: 4vh;
    margin-left: 1vw;
    font-family: neon;
    cursor: pointer;
    color: #426DFB;
    text-decoration: none;
    text-shadow: 0 0 3vw #2356FF;
    background: transparent;
    border: none;
    animation: flux 2s linear infinite;
    -moz-animation: flux 2s linear infinite;
    -webkit-animation: flux 2s linear infinite;
    -o-animation: flux 2s linear infinite;
}

.option-buttons:hover {
    color: #28D7FE;
    animation: none;
}

#colorpicker {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 3vw;
    height: 4vh;
    margin-bottom: 5px;
    background-color: transparent;
    border: none;
    cursor: pointer;

}

#colorpicker::-webkit-color-swatch {
    border-radius: 8px;
    border: 1px solid white;
}

#colorpicker::-moz-color-swatch {
    border-radius: 8px;
    border: 1px solid white;
}

.range {
    width: 15vw;
    height: 3vh;
    appearance: none;
    -webkit-appearance: none;
    background: #111;
    outline: none;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: inset 0 0 5px white;
}

.range::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 3vh;
    height: 3vh;
    border-radius: 50%;
    background: #28D7FE;
    cursor: pointer;
    border: 4px solid #333;
    box-shadow: -415px 0 0 400px #28D7FE;
}

/* Medium size screens*/
@media screen and (max-width: 530px) {
    .flux {

        font-size: 3vh;
        line-height: 1vw;
    }

    .option-descriptor {
        font-size: 3vh;
        margin-right: 1vw;
        margin-left: 1vw;
    }

    .option-buttons {
        font-size: 3vh;
    }

    #colorpicker {
        width: 5vw;
    }

    .back-button {
        font-size: 7vh;
    }

}

/*Smaller screens. The folowing css optimizes webpage for mobile usage*/
@media screen and (max-width: 450px) {
    .flux {

        font-size: 3vh;
        line-height: 1vw;
    }

    .option-descriptor {
        font-size: 4vh;
        margin-bottom: 1vh;
        margin-top: 1vh;
        position: relative;
        left: 0;
    }

    .selector-wrapper {
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: center;
    }

    .option-wrapper {
        justify-content: space-between;
    }

    .option-buttons {
        font-size: 4vh;
        margin-top: 1vh;
        margin-bottom: 1vh;
    }

    #colorpicker {
        width: 42vw;
        position: relative;
        right: 0;
    }

    .back-button {
        font-size: 4vh;
    }

    .options-container {
        display: flex;
        flex-direction: column;

    }

    .range {
        width: 40vw;
        margin-bottom: 2vh;
        position: relative;
        right: 0;
    }
}

/* Very small screen css */
@media screen and (max-width: 300px) {
    .flux {

        font-size: 2vh;
        line-height: 1vw;
    }

    .option-descriptor {
        font-size: 10vw;
        margin-right: 0.5vw;
        margin-left: 0.5vw;
    }

    .option-buttons {
        font-size: 10vw;
    }

    .back-button {
        font-size: 3vh;
    }
}


@media screen and (max-width: 590px) and (min-height: 725px) {
    .flux {
        font-size: 5vw;
        line-height: 1vw;
    }
}