
.content-wrapper {
    margin-top: 1%;
    margin-bottom: 1%;
}

.options-container {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

#webcam {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%;
    object-fit: cover;
}

#photo-button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}


.canvas-container {
    display: flex;
    justify-content:  center;
}


  .photo-button-icon {
    width: 100px;
    height: 100px;
 
    position: relative;
  }
  .circle {
    position: absolute;
    top: 12%;
    left: 12%;
    bottom: 12%;
    right: 12%;
    border-radius: 100%;
    background-color: #ffffff;
    opacity: 0;
  }
  .ring {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    
    border-radius: 100%;
    border: 0.5em solid #ffffff;
    opacity: 0.8;
  }
  .photo-button-icon .circle, .photo-button-icon .ring {
    transition: all 0.25s;
  }
  .photo-button-icon:hover .circle {
    opacity: 1;
  }
  .photo-button-icon:active .ring {
    opacity: 1;
  }
  .photo-button-icon:active .circle {
    opacity: 0.5;
  }